<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-2">
    <div class="card">
        <div class="card-header">Liste des patients</div>
   <div class="card-body">
       <table class="table">
           <thead>
           <tr>
               <th>ID</th><th>Nom</th><th>Date</th><th>Malade</th><th>Score</th>
           </tr>
           </thead>
           <tbody>
           <tr th:each="p:${listPatients}">
               <td th:text="${p.id}"></td>
               <td th:text="${p.nom}"></td>
               <td th:text="${p.dateNaissance}"></td>
               <td th:text="${p.malade}"></td>
               <td th:text="${p.score}"></td>
           </tr>
           </tbody>
       </table>
   </div>
    </div>
</div>

</body>
</html>